.main-page{
        margin-top: 5px;
}

.my-card{
        /* box-shadow: 2px 2px 1px #888888; */
        padding-right: 2px;
}
.my-card > h5{
        color: #448aff;
        text-transform: uppercase;
}
.mailer {
}
.my-card > .editor-trix{
        margin-bottom: 10px;
}

.receptores > h5{
        color: #448aff;
        text-transform: uppercase;
        margin-bottom: 0px;
}
.lista-rec{
        overflow: auto;
        height: 300px;
}
.lista-rec > ul {
        margin-top: 2px;
}

.categorias > h5{
        color: #448aff;
        text-transform: uppercase;
        margin-bottom: 0px;
}
