<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Antonio Pan & Hijos</title>
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link type="text/css" rel="stylesheet" href="../assets/css/trix.css"  media="screen,projection"/>
        <script type="text/javascript" src="../assets/js/trix.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form id="tmail" action="/send-mails" method="post" enctype="multipart/form-data">
                        <div class="from-group">
                            <input class="form-control" id="subjectField" name="subject" type="text" placeholder="Titulo del mail"/>
                        </div>
                        <trix-editor name="body" placeholder="Mail va aca..."></trix-editor>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="archivos" aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">Archivos que quieres adjuntar en el mail</small>
                        </div>
                        <div class="form-group">
                            <div id="users">
                                <select>
                                    <option value="" disabled selected>Enviar como</option>
                                    {{ range .Users }}
                                    <option>{{.}}</option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                        <button style="margin-top: 3px;" class="btn btn-primary" type="submit">ENVIAR
                        </button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    </body>
</html>
