<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

        <link type="text/css" rel="stylesheet" href="/assets/css/style.css"  media="screen,projection"/>

        <link type="text/css" rel="stylesheet" href="/assets/css/trix.css"  media="screen,projection"/>
        <script type="text/javascript" src="/assets/js/trix.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <!-- navbar section -->
        <nav>
            <div class="nav-wrapper blue darken-2">
                <a href="#" class="brand-logo">&nbsp; AP&H</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/computo">Cotizar</a></li>
                    <li><a href="//antoniopan.com.ar" target="_blank">Antonio Pan</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/mailer">mailer</a></li>
                    <li><a href="/newsletter">newsletter</a></li>
                </ul>
            </div>
        </nav>
        <!-- end navbar section -->

        <div class="main-page">
            <div class="row">
                <div class="col s6 m6 l6 my-card mailer">
                    <h5>Mail</h5>
                    <div class="editor-trix">
                        <form id="tmail" action="/mails/send" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col s6 l12">
                                    <div class="input-field">
                                        <input name="subject" type="text" />
                                        <label for="subject">Titulo</label>
                                    </div>
                                </div>
                            </div>
                            <trix-editor name="body" placeholder="Mail va aca..."></trix-editor>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Archivos</span>
                                    <input type="file" multiple name="archivos">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Elegi uno o mas archivos">
                                </div>
                            </div>
                            <div class="input-field">
                                <div id="users">
                                    <select>
                                        <option value="" disabled selected>Enviar como</option>
                                        {{ range .Users }}
                                        <option>{{.}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                            <button style="margin-top: 3px;" class="btn waves-effect waves-light blue" type="submit">ENVIAR
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col s6 m4 l6 my-card">
                    <div class="row">
                        <form id="categories" class="col s6 m4 l6">
                            <div class="input-field">
                                <select multiple>
                                    <option value="" disabled selected>Selecciona las categorias</option>
                                    {{ range .Categories }}
                                    <option>{{.}}</option>
                                    {{ end }}
                                </select>
                                <label>Enviar a</label>
                            </div>
                        </form>
                        <form class="col s6 m4 l6">
                            <div class="input-field">
                                <input id="icon_prefix" name="email" type="text" class="validate">
                                <label for="icon_prefix">Buscar por Email</label>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s6 m4 l6 receptores">
                            <h5>Receptores</h5>
                            <div class="lista-rec">
                                <ul id="recipients">
                                </ul>
                            </div>
                        </div>
                        <div class="col s6 m4 l6 receptores">
                            <h5>RESULTADO DE BUSQUEDA</h5>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s6 m4 l6 categorias">
                        <h5>Categorias</h5>
                        <div style="overflow: auto; height: 300px;">
                            <ul>
                                {{ range .Categories }}
                                <li><a href=/emails/{{.}} class="btn-flat waves-effect waves-light">{{.}}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                    <div class="col s6 m4 l6 receptores">
                        <div class="input-field">
                            <div id="to-add-list">
                                <select>
                                    <option value="" disabled selected>Selecciona la categoria</option>
                                    {{ range .Categories }}
                                    <option>{{.}}</option>
                                    {{ end }}
                                </select>
                                <label>Agregar a categoria</label>
                            </div>
                        </div>
                        <h5 style="text-transform: uppercase;">{{.CurrentCategory}}</h5>
                        <div class="lista-rec">
                            <ul>
                                {{range .EmailList}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4 l6">
                        <form action="/category/new" method="post">
                            <div class="input-field">
                                <input type="submit" value="AGREGAR"  class="btn blue" style="float: right" />
                                <div style="overflow: hidden; padding-right: .5em;">
                                    <input id="category" name="name" type="text" style="width: 100%;" />
                                    <label for="category">Categoria</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s6 m4 l6">
                        <form action="/category/email/new" id="add-email" method="post">
                            <div class="input-field">
                                <input type="submit" value="AGREGAR"  class="btn blue" style="float: right" />
                                <div style="overflow: hidden; padding-right: .5em;">
                                    <input id="email" name="email" type="text" style="width: 100%;" />
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4 l6 offset-l3">
                        <h4 style="color:#448aff;">AGREGAR USUARIO</h4>
                        <form id="newUserForm" action="/user/new" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="usernameField" name="username" type="text">
                                    <label for="usernameField">Nombre de usuario</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="userEmailField" name="email" type="email">
                                    <label for="userEmailField">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="userPassword" name="password" type="text">
                                    <label for="userPassword">Contraseña</label>
                                </div>
                            </div>
                            <button style="margin-top: 3px;" class="btn waves-effect waves-light blue" type="submit">Agregar
                                <i class="material-icons right">add</i>
                            </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/materialize.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('select').material_select();
            });
            $("#tmail").submit(function(event){
                $("#trix-input-1").attr('name', "body");
                var categories = "";
                $("#categories li").each(function(i){
                    if($(this).hasClass('active')){
                        categories += $(this).text() + ",";
                    }
                });
                $('<input>').attr({
                    type: 'hidden',
                    name: 'categories',
                    value: categories
                }).appendTo($(this));

                var auth = "";
                $("#tmail li").each(function(i){
                    if($(this).hasClass('active')){
                        auth = $(this).text();
                    }
                });
                $('<input>').attr({
                    type: 'hidden',
                    name: 'authuser',
                    value: auth
                }).appendTo($(this));
                return true;
            });
            $("#add-email").submit(function(event){
                category = "";
                $("#to-add-list li").each(function(i){
                    if($(this).hasClass('active')){
                        category += $(this).text();
                    }
                });
                $('<input>').attr({
                    type: 'hidden',
                    name: 'category',
                    value: category
                }).appendTo($(this));
                return true
            });
        </script>
    </body>
</html>
